{% load accounts_tags %}
{% load participiants_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#{% get_user_org request.user as user_org %}#}

{% if request.user.is_authenticated %}
    <ul class="nav nav_user">
        <li class="nav__item">
            <a class="nav__link" href="{% url 'personal:frontend:index' %}">
                {% if LANGUAGE_CODE == 'en' %}
                    Personal cabinet
                {% elif LANGUAGE_CODE == 'tt' %}
                    Шәхси кабинет
                {% else %}
                    Личный кабинет
                {% endif %}
                {% if user.first_name %}
                    {{ user.first_name }} {% if user.last_name.0 %} {{ user.last_name.0 }}.{% endif %}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </a>
        </li>
    </ul>
{% else %}

    <ul class="nav nav_user">
        <li class="nav__item">
            <a class="nav__link" href="{% url 'accounts:frontend:registration' %}">
                {% if LANGUAGE_CODE == 'en' %}
                    Registration
                {% elif LANGUAGE_CODE == 'tt' %}
                    Теркәлү
                {% else %}
                    Регистрация
                {% endif %}
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="{% url 'accounts:frontend:login' %}">
                {% if LANGUAGE_CODE == 'en' %}
                    Login
                {% elif LANGUAGE_CODE == 'tt' %}
                    Керү
                {% else %}
                    Вход
                {% endif %}
                &nbsp;&nbsp;<i class="icon-man-user"></i>
            </a>
        </li>
    </ul>
{% endif %}