{% extends 'ask_librarian/frontend/index.html' %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'ru' %}
        Спроси библиотекаря
    {% elif LANGUAGE_CODE == 'tt' %}
        Китапханәчедән сора
    {% else %}
        Ask a librarian
    {% endif %}
    /
    {% if LANGUAGE_CODE == 'ru' %}
        Спасибо за вопрос
    {% elif LANGUAGE_CODE == 'tt' %}
        Сорау өчен рәхмәт
    {% else %}
        Thanks for the question
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'ask_librarian:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Спроси библиотекаря
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Китапханәчедән сора
                    {% else %}
                        Ask a librarian
                    {% endif %}
                </a>
            </li>
            <li>
                <span class="crumb__current">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Вопрос №
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Эш №
                    {% else %}
                        Question #
                    {% endif %}
                    {{ question.id }}
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block index_content %}
    <div class="content">
        <h1 class="content__title">
            {% if LANGUAGE_CODE == 'ru' %}
                Спасибо за вопрос
            {% elif LANGUAGE_CODE == 'tt' %}
                Сорау өчен рәхмәт
            {% else %}
                Thanks for the question
            {% endif %}
        </h1>
        <br>
        {% if request.user.is_authenticated %}
            <div class="alert alert-success">
                {% if LANGUAGE_CODE == 'ru' %}
                    За статусом его выполнения Вы можете следить в личном кабинете.
                    Так же Вы можете найти его по номеру. Номер Вашего вопроса: <b>{{ question.id }}</b>.
                    Ответ на вопрос будет выслан на указанный Вами email.
                {% elif LANGUAGE_CODE == 'tt' %}
                    Аның үтәлеше статусын Сез шәхси кабинетта күзәтеп тора аласыз.
                    Шулай ук таба аласыз, аның номеры буенча. Сезнең сорауның номеры: <b>{{ question.id }}</b>.
                    Сорауга җавап булачак выслан күрсәтелгән сезнең email.
                {% else %}
                    For the status of its implementation, you can follow in your account.
                    You can also find it by number. Your questions: <b>{{ question.id }}</b>.
                    The answer to the question will be sent to your email.
                {% endif %}

            </div>
        {% else %}
            <div class="alert alert-success">
                {% if LANGUAGE_CODE == 'ru' %}
                    Вы можете отслеживать его статус по номеру. Номер Вашего вопроса: <b>{{ question.id }}</b>.
                    Ответ на вопрос будет выслан на указанный Вами email.
                {% elif LANGUAGE_CODE == 'tt' %}
                    Сез күзәтеп торырга мөмкинлек бирә, аның статусын номеры буенча. Сезнең сорауның номеры: <b>{{ question.id }}</b>.
                    Сорауга җавап булачак выслан күрсәтелгән сезнең email.
                {% else %}
                    Thanks for the question
                    You can track its status by number. Your questions: <b>{{ question.id }}</b>.
                    The answer to the question will be sent to your email.
                {% endif %}

            </div>
        {% endif %}
        <p><a href="{% url 'ask_librarian:frontend:detail' question.id %}">
            {% if LANGUAGE_CODE == 'ru' %}
                Перейти к вопросу
            {% elif LANGUAGE_CODE == 'tt' %}
                Мәсьәләгә күчү
            {% else %}
                Go to question
            {% endif %}
        </a></p>
    </div>
{% endblock %}

