{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% load participiants_tags %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'en' %}
        Personal cabinet
    {% elif LANGUAGE_CODE == 'tt' %}
        Шәхси кабинет
    {% else %}
        Личный кабинет
    {% endif %}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                    <span class="crumb__current">
                        {% if LANGUAGE_CODE == 'en' %}
                            Personal cabinet
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Шәхси кабинет
                        {% else %}
                            Личный кабинет
                        {% endif %}
                    </span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">
                    {% if LANGUAGE_CODE == 'en' %}
                        Personal cabinet
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Шәхси кабинет
                    {% else %}
                        Личный кабинет
                    {% endif %}
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="card card_mt">
                        <ul class="card-menu">
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'orders:frontend:reservations' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        Reservation requests
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Броньлау өчен заказлар
                                    {% else %}
                                        Заказы на бронирование
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'mydocs:frontend:index' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        My documents
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Минем документлар
                                    {% else %}
                                        Мои документы
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'ssearch:frontend:saved_search_requests' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        Search requests
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Эзләү запрослары
                                    {% else %}
                                        Поисковые запросы
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'orders:frontend:on_hand' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        On hand books
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                       Бирелгән китаплар
                                    {% else %}
                                        Выданные книги
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'ask_librarian:frontend:my_questions' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        My questions
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                       Минем сораулар
                                    {% else %}
                                        Мои вопросы
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'ruslan_cabinet:frontend:remote_return' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        Remote return of book
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                       Ерактан торып кире кайтару
                                    {% else %}
                                        Удаленный возврат
                                    {% endif %}
                                </a>
                            </li>
                            <li class="card-menu__item">
                                <a class="card-menu__link" href="{% url 'sso_ruslan:change_email' %}">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        Change E-mail
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                       Үзгәртергә email
                                    {% else %}
                                        Изменить email
                                    {% endif %}
                                </a>
                            </li>
                            {% cache 600 user_org request.user.id %}
                                {% personal_cabinet_links as cabinet_links %}
                                {% for cabinet_link in cabinet_links %}
                                    <li class="card-menu__item">
                                        <a class="card-menu__link"
                                           href="{{ cabinet_link.href|safe }}">{{ cabinet_link.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endcache %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="content">
                        <p>
                            {% if not ruslan_user %}
                                {% if LANGUAGE_CODE == 'en' %}
                                    You are not a reader
                                {% elif LANGUAGE_CODE == 'tt' %}
                                    Сез читатель түгел
                                {% else %}
                                    Вы не являетесь читателем
                                {% endif %}
                            {% else %}
                                {% if LANGUAGE_CODE == 'en' %}
                                    Your reader ID:
                                {% elif LANGUAGE_CODE == 'tt' %}
                                   Сезнең укучысы идентификатор кертә:
                                {% else %}
                                    Ваш идентификатор читателя:
                                {% endif %}
                                 {{ ruslan_user.username }}
                            {% endif %}
                        </p>
                        {% if current_library %}
                            <p>
                                {% if LANGUAGE_CODE == 'en' %}
                                    Search in library:
                                {% elif LANGUAGE_CODE == 'tt' %}
                                    Китапханәдә эзләү:
                                {% else %}
                                    Поиск в библиотеке:
                                {% endif %}

                                <a href="{% url 'ssearch:frontend:ecatalog' %}?library={{ current_library.code|urlencode }}">
                                    {% for ancestor in current_library.get_ancestors %}
                                        {{ ancestor.name }} →
                                    {% endfor %}
                                    <b>{{ current_library.name }}</b>
                                </a>
                            </p>
                        {% endif %}
                        <a class="btn btn_ol" href="{% url 'accounts:frontend:logout' %}">
                            {% if LANGUAGE_CODE == 'en' %}
                                    Logout
                                {% elif LANGUAGE_CODE == 'tt' %}
                                   Чыгарга аккаунта
                                {% else %}
                                    Выйти из аккаунта
                                {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}