{% load hash %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<br>
<div class="content">
    <h1 class="content__title">
        {% if LANGUAGE_CODE == 'ru' %}
            Статистика по коллекциям:
        {% elif LANGUAGE_CODE == 'tt' %}
            Коллекцияләр буенча статистика
        {% else %}
            Collections statistics:
        {% endif %}
    </h1>
    <ul>
        {% for collection in collections %}
             <li>
                 <a href="#vtorov"
                       data-custom-open="modal-{{ collection|hash:'persistant-number'|hash:0 }}">
                     {% if LANGUAGE_CODE == 'ru' %}
                        {{ collection.title.0 }}
                     {% elif LANGUAGE_CODE == 'tt' %}
                        {{ collection.collection_title_tt.0 }}
                     {% else %}
                        {{ collection.collection_title_en.0 }}
                     {% endif %}

                 </a>: {{ collection.stats }}
             </li>
        {% endfor %}
    </ul>
    <p>
        {% if LANGUAGE_CODE == 'ru' %}
            <a href="/ru/ssearch/ecollection/?attr=text_t&q=*">Всего документов в коллекции: {{ stats.count_all }}</a>
        {% elif LANGUAGE_CODE == 'tt' %}
            <a href="/tt/ssearch/ecollection/?attr=text_t&q=*">Коллекциядә барлык документлар саны: {{ stats.count_all }}</a>
        {% else %}
            <a href="/en/ssearch/ecollection/?attr=text_t&q=*">Total documents: {{ stats.count_all }}</a>
        {% endif %}

    </p>
    <p>
        {% if LANGUAGE_CODE == 'ru' %}
            Добавлено за текущий месяц:
        {% elif LANGUAGE_CODE == 'tt' %}
            Бу ай эчендә өстәлгән:
        {% else %}
            Сurrent month arrivals:
        {% endif %}
        {{ stats.count_last_month }}
    </p>
    <p>
        {% if LANGUAGE_CODE == 'ru' %}
            Добавлено за последние 30 дней:
        {% elif LANGUAGE_CODE == 'tt' %}
            Соңгы 30 көн эчендә өстәлгән:
        {% else %}
            Last 30 days arrivals:
        {% endif %}
        {{ stats.count_last_30 }}
    </p>

</div>

{% for collection in collections %}
    <div class="modal micromodal-slide" id="modal-{{ collection|hash:'persistant-number'|hash:0 }}" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        {% if LANGUAGE_CODE == 'ru' %}
                        {{ collection.title.0 }}
                     {% elif LANGUAGE_CODE == 'tt' %}
                        {{ collection.collection_title_tt.0 }}
                     {% else %}
                        {{ collection.collection_title_en.0 }}
                     {% endif %}
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <div class="modal__content">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="content">
                                <a href="{% url 'ssearch:frontend:ecollection' %}?q=%2A&q={{ collection|hash:'persistant-number'|hash:0 }}&attr=text&attr=fond_sf&in_founded=on">

                                    {% if LANGUAGE_CODE == 'ru' %}
                                        Поиск по коллекции:
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Эзләү буенча коллекцияләр:
                                    {% else %}
                                        Collection search:
                                    {% endif %}
                                </a>
                                <ul>
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {% for comments in collection.comments %}
                                            <li>{{ comments }}</li>
                                        {% endfor %}
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        {% for comments in collection.comments_tt %}
                                            <li>{{ comments }}</li>
                                        {% endfor %}
                                    {% else %}
                                        {% for comments in collection.comments_en %}
                                            <li>{{ comments }}</li>
                                        {% endfor %}
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            {% if collection.collection_cover %}
                                <div class="content">
                                    <img src="{{ collection.collection_cover.0 }}" alt="{{ collection.title.0 }}">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <footer class="modal__footer">
                    <button class="btn btn_ol" data-micromodal-close>
                        {% if LANGUAGE_CODE == 'ru' %}
                            Закрыть
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Каплау
                        {% else %}
                            Close
                        {% endif %}
                    </button>
                </footer>
            </div>
        </div>
    </div>
{% endfor %}
