{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'en' %}
        Borrowed books
    {% elif LANGUAGE_CODE == 'tt' %}
        Шәхси кабинет
    {% else %}
        Выданные книги
    {% endif %}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personal:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'en' %}
                                Personal cabinet
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Шәхси кабинет
                            {% else %}
                                Личный кабинет
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <span class="crumb__current">
                            {% if LANGUAGE_CODE == 'en' %}
                                Borrowed books
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Шәхси кабинет
                            {% else %}
                                Выданные книги
                            {% endif %}
                        </span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">
                    {% if LANGUAGE_CODE == 'en' %}
                        Borrowed books
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Шәхси кабинет
                    {% else %}
                        Выданные книги
                    {% endif %}
                </h1>
            </div>
            {% if libraries %}
                <div class="list list_mt">
                    {% for library in libraries %}
                        {% if library.books %}
                            <div class="list__item">
                                <div class="list__col-text">
                                    <h3 class="list__title">
                                        <a class="list__title-link" target="_blank"
                                           href="{% url 'participants:frontend:detail' library.code %}">{{ library.name }}</a>
                                    </h3>
                                    {% if library.error %}
                                        <br>
                                        <div class="alert alert-danger">
                                            {{ library.error }}
                                        </div>
                                    {% else %}
                                        {% for book in library.books %}
                                            <p class="list__description">{{ book.record|safe }}</p>
                                            <dl class="list__dl">
                                                <dt>
                                                        {% if LANGUAGE_CODE == 'en' %}
                                                            Note:
                                                        {% elif LANGUAGE_CODE == 'tt' %}
                                                            Искәрмә:
                                                        {% else %}
                                                            Примечание:
                                                        {% endif %}
                                                </dt>
                                                <dd>{{ book.description }}</dd>
                                            </dl>
                                        {% empty %}
                                            <br>
                                            <div class="alert alert-info">
                                                {% if LANGUAGE_CODE == 'en' %}
                                                    No books issued
                                                {% elif LANGUAGE_CODE == 'tt' %}
                                                    Бирелгән китаплар юк
                                                {% else %}
                                                    Выданных книг нет
                                                {% endif %}

                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <br>
                <div class="alert alert-info">
                    {% if LANGUAGE_CODE == 'en' %}
                        You are not a reader.
                        <a href="{% url 'participants:frontend:geosearch' %}">Contact the nearest library </a>
                        or login to the portal using your Public services portal account.
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Сез читатель түгел.
                        <a href="{% url 'participants:frontend:geosearch' %}">Алдагы китапханәгә</a>
                        мөрәҗәгать итегез яки дәүләт хезмәтләре порталында хисап язмагыз кулланып порталга керегез.
                    {% else %}
                         Вы не являетесь читателем. Обратитесь в <a
                            href="{% url 'participants:frontend:geosearch' %}">ближайшую
                        библиотеку</a> или войдите на портал с использованием учетной записи на портале
                        Госуслуг.
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}