{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div>
    <ul style="list-style: none; margin: 0; padding: 0;">
        {% for book in books %}
            <li>{{ book.record|safe }}
                <div class="alert alert-success">
                    {% if LANGUAGE_CODE == 'en' %}
                        <b>Notes</b>:
                    {% elif LANGUAGE_CODE == 'tt' %}
                        <b>Искәрмә</b>:
                    {% else %}
                        <b>Примечание</b>:
                    {% endif %}

                    {{ book.description }}
                </div>
            </li>
            {% if not forloop.last %}
                <hr/>{% endif %}
        {% endfor %}
    </ul>
</div>