{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <style type="text/css">
        form.feedback_from textarea {
            width: 99%;
        }
    </style>
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'guestbook:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Отзывы
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Фикерләр
                    {% else %}
                        Feedbacks
                    {% endif %}
                </a>
                <span class="divider">/</span></li>
            <li class="active">
                {% if LANGUAGE_CODE == 'ru' %}
                    Оставить запись
                {% elif LANGUAGE_CODE == 'tt' %}
                    Фикер калдыру
                {% else %}
                    Send feedback
                {% endif %}

            </li>

        </ul>
        <form class="feedback_from" method="POST">{% csrf_token %}
            <legend>
                {% if LANGUAGE_CODE == 'ru' %}
                    Оставить запись
                {% elif LANGUAGE_CODE == 'tt' %}
                    Фикер калдыру
                {% else %}
                    Send feedback
                {% endif %}
            </legend>
            <fieldset>
                {% include 'frontend/base_form_fields.html' %}
                <div class="form-actions">
                    <button type="submit" class="btn">
                        {% if LANGUAGE_CODE == 'ru' %}
                            Оставить запись
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Фикер калдыру
                        {% else %}
                            Send feedback
                        {% endif %}
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}